.pagination-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  nav {
    display: inline-flex;
    flex-grow: 1;
    max-width: 320px;
  }
  .pagination {
    display: flex;
    position: relative;
    font-size: 12px;
    margin: 0 auto 0;
    width: 100%;
  }
  .page-item {
    display: none;
    position: relative;
    &.active,
    &:first-child,
    &:last-child {
      display: inline-flex;
    }
    &.active {
      .page-link {
        background-color: $secondary;
        border-color: $secondary;
      }
    }
    &:first-child {
      margin-right: auto;
    }
    &:last-child {
      margin-left: auto;
    }
    &:first-child,
    &:last-child {
      .page-link {
        width: 32px;
      }
    }
  }
  .page-link {
    width: 46px;
    height: 35px;
    padding: 0;
    color: $body-color;
    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.pagination-section__total-text {
  flex-basis: 100%;
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
}
