.search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.search-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 320px;
}

.search-form__submit-btn {
  .spinner-border {
    margin-bottom: 2px;
  }
}
